.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.container {
  width: 75rem;
  height: 55rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-button {
  display: flex;
  gap: 15px;
}
