<app-header></app-header>

<mat-card>
  <mat-toolbar class="background">
    <span>Clientes</span>
  </mat-toolbar>

  <mat-table [dataSource]="data">
    <!-- Name Column -->
    <ng-container matColumnDef="nmCliente">
      <mat-header-cell *matHeaderCellDef>Cliente</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.nmCliente }}</mat-cell>
    </ng-container>

    <!-- Category Column -->
    <ng-container matColumnDef="nmCidade">
      <mat-header-cell *matHeaderCellDef>Cidade</mat-header-cell>
      <mat-cell *matCellDef="let data">
        {{ data.nmCidade }}
      </mat-cell>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef class="action-column">
        <button
          mat-mini-fab
          color="accent"
          aria-label="Adicionar um cliente"
          (click)="onAdd()"
          class="action-column-header"
        >
          <mat-icon>add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let data" class="action-column">
        <button
          mat-icon-button
          color="primary"
          aria-label="Editar cliente"
          (click)="onEdit(data)"
        >
          <mat-icon>edit</mat-icon>
        </button>

        <button
          mat-icon-button
          color="warn"
          aria-label="Remover cliente"
          (click)="onDelete(data)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row
      *matHeaderRowDef="displayedColumns; sticky: true"
    ></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</mat-card>
