.background {
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.middle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.div-api{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 278px;
}
